set record    = "+edu.utdallas.jml140230/sent"  # Directory for sent messages
set from      = "jml140230@utdallas.edu"        # Address for 'from' field
set mbox      = "+edu.utdallas.jml140230/inbox" # Directory for saved messages
set postponed = "+edu.utdallas.jml140230/draft" # Directory for drafts
set realname  = "LaFreniere, Joseph"            # Name for 'from' field
set sendmail  = "msmtp -C ${HOME}/.config/msmtp/msmtprc -a edu.utdallas.jml140230" # Command used to send mail
