# clear aliases
set alias_file = "${HOME}/.config/mutt/setting/unalias.rc"
source $alias_file
# load aliases
set alias_file = "${HOME}/.local/share/mutt/alias/xyz-lafreniere-joseph.rc"
source $alias_file

set from = "joseph@lafreniere.xyz" # address for 'from' field
set mbox = "+xyz.lafreniere.joseph/inbox" # directory for saved messages
set postponed = "+xyz.lafreniere.joseph/draft" # directory for drafts
set realname = "LaFreniere, Joseph" # name for 'from' field
set record = "+xyz.lafreniere.joseph/sent" # directory for sent messages
set sendmail = "msmtp -C ${HOME}/.config/msmtp/msmtprc -a xyz.lafreniere.joseph" # command used to send mail
set signature = "${HOME}/.config/mutt/signature/xyz.lafreniere.joseph" # File containing signature
