/*
!/LICENSE
!/README.md
!/X11/
!/abcde/
!/alacritty/
!/autorandr/
!/aws/
!/bin/
!/clojure/
!/cron/
!/emacs/
!/flake.lock
!/flake.nix
!/guix/
!/interception-tools/
!/isync/
!/karabiner/
!/msmtp/
!/mutt/
!/nix/
!/nvim/
!/pijul/
!/rclone/
!/redshift.conf
!/sh/
!/shepherd/
!/skhd/
!/tmux/
!/vale/
!/vim/
!/weechat/
!/yabai/
!/zsh/
