/Bitwarden/
/Electron/
/KDE/
/Mullvad VPN/
/MusicBrainz/
/QtProject.conf
/Signal/
/Trolltech.conf
/akregatorrc
/baloofilerc
/chromium/
/containers/
/dconf/
/dolphinrc
/environment.d/
/fontconfig/
/git/
/glib-*/
/gnupg/
/gtk*
/gwenviewrc
/htop/
/kactivitymanagerdrc
/katerc
/kateschemarc
/kcmfonts
/kcminputrc
/kconf_updaterc
/kde.org/
/kded5rc
/kdedefaults
/kdeglobals
/kglobalshortcutsrc
/khotkeysrc
/kmixrc
/konsolerc
/konsolesshconfig
/kscreenlockerrc
/ksmserverrc
/ktimezonedrc
/kwalletrc
/kwinrc
/kwinrulesrc
/kxkbrc
/mimeapps.list
/okularpartrc
/plasma-localerc
/plasma-org.kde.plasma.desktop-appletsrc
/plasmanotifyrc
/plasmashellrc
/powerdevilrc
/powermanagementprofilesrc
/pulse/
/ripgrep-all/
/session/
/spectaclerc
/startkderc
/syncthing/
/systemd/
/systemmonitorrc
/systemsettingsrc
/transmission
/transmission-daemon/
/user-dirs.dirs
/user-dirs.locale
/xsettingsd/

# Nix flake direnv
/.pre-commit-config.yaml
/direnv/
/result
