/Bitwarden/
/MusicBrainz/
/chromium/
/containers/
/git/
/glib-*/
/gnupg/
/gtk-*/
/pulse/
/ripgrep-all/
/syncthing/
/systemd/
/transmission-daemon/
mimeapps.list
user-dirs.dirs

# Nix flake direnv
/.pre-commit-config.yaml
/direnv/
/result
