* {
  border: none;
  /* `ttf-font-awesome` is required to be installed for icons */
  font-family: "Roboto Mono Medium", Helvetica, Arial, sans-serif;

  /* adjust font-size value to your liking: */
  font-size: 10px;

  min-height: 0;
}

/* Define colors that adapt to light/dark mode */
@define-color base_bg @theme_bg_color;
@define-color base_fg @theme_fg_color;
@define-color selected_bg alpha(@base_fg, 0.1);
@define-color selected_fg @base_fg;
@define-color warning_color #e5a50a;
@define-color error_color #c01c28;

window#waybar {
  background-color: @base_bg;
  color: @base_fg;
}

#workspaces button {
  padding: 0 0.4em;
  background-color: transparent;
  color: @base_fg;
  border-radius: 0;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: alpha(@selected_bg, 0.3);
  box-shadow: inset 0 -3px @selected_bg;
  border-radius: 0;
}

#workspaces button.focused {
  background-color: @selected_bg;
  color: @selected_fg;
  border-radius: 0;
}

#workspaces button.urgent {
  background-color: @error_color;
  color: @selected_fg;
  border-radius: 0;
}

#mode {
  /* background-color: #64727D; */
  /* border-bottom: 3px solid #ffffff; */
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  padding: 0 0.4em;
  margin: 6px 3px;
  color: @base_fg;
  background-color: transparent;
}

#temperature.critical {
  color: @error_color;
  font-weight: bold;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}
