# attachment view keybindings
bind attach G last-entry
bind attach g first-entry

# index keybindings
bind index <space> collapse-thread
bind index <tab>   sync-mailbox
bind index G       last-entry
bind index R       group-reply
bind index dT      delete-thread
bind index dd      delete-message
bind index dt      delete-subthread
bind index gg      first-entry
bind index gT      previous-thread
bind index gt      next-thread

# pager keybindings
bind pager G  bottom
bind pager J  next-entry
bind pager K  previous-entry
bind pager g  top
bind pager j  next-line
bind pager k  previous-line
bind pager dT delete-thread
bind pager dd delete-message
bind pager dt delete-subthread
