# attachment view keybindings
bind attach G last-entry
bind attach g first-entry

# alias view keybindings
bind alias G last-entry
bind alias g first-entry

# browser keybindings
bind browser <space> tag-entry
bind browser G last-entry
bind browser g first-entry
bind browser v view-file

# index keybindings
bind index <space> collapse-thread
bind index <tab>   sync-mailbox
bind index G       last-entry
bind index R       group-reply
bind index dT      delete-thread
bind index dd      delete-message
bind index dt      delete-subthread
bind index gT      previous-thread
bind index gg      first-entry
bind index gt      next-thread

# pager keybindings
bind pager G  bottom
bind pager J  next-entry
bind pager K  previous-entry
bind pager R  group-reply
bind pager dT delete-thread
bind pager dd delete-message
bind pager dt delete-subthread
bind pager g  top
bind pager j  next-line
bind pager k  previous-line
